.animated-button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.animated-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.role-card {
    transition: transform 0.3s ease;
}
.role-card:hover {
    transform: scale(1.05);
}
.bg-university {
    background-color: #242424;
}
.btn-university {
    background-color: #003366;
}
.btn-university:hover {
    background-color: #00254d;
}